



<%= simple_form_for @workshop, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
      <% @workshop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.input :sharer_id, :as => :hidden %><br />
  </div>



	
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :subdescription %>
  </div>
  <div class="field">
	<%= f.label :date %>
   	<%= f.date_select :date, :order => [:month, :day, :year], :start_year => Time.now.year-100, :end_year => Time.now.year %>
  </div>
  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>



  <div class="actions">
	  <%= f.submit nil, :class => 'btn btn-small btn-success' %>
	  <%= link_to 'Cancel', workshops_path, :class => 'btn btn-small' %>
  
  </div>
<% end %>

