<div class="span12">
	<h2>All Workshops</h2>

<table class="table table-striped">
  <tr>
	<th></th>
    <th>Name</th>
    <th>Category</th>
    <th>Sharer</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Date</th>
    <th>Max. Members</th>
    <th>Location</th>
	<th>   </th>

  </tr>


<% @workshops.each do |workshop| %>
  <tr>
	<td>
		<%= link_to raw("<i class='icon-chevron-up'></i> "), upvotes_path, :class => 'btn btn-mini btn btn-primary' %>
		<br> # <br>
		<%= link_to raw("<i class='icon-chevron-down'></i> "), upvotes_path, :class => 'btn btn-mini btn btn-primary' %>
		</td>
	<td><%= link_to workshop.description, workshop %></td>
    <td><%= workshop.category %></td>
    <td><%= link_to workshop.sharer.proper_name, sharer_path(workshop.sharer_id)%></td>
    <!-- <td><%= workshop.learner_id %></td> -->
    <!-- <td><%= workshop.active %></td> -->
    <td><%= workshop.start_time.strftime("%I:%M%p") %></td>
    <td><%= workshop.end_time.strftime("%I:%M%p") %></td>
    <td><%= workshop.date.strftime("%m/%d") %></td>
    <td><%= workshop.size %></td>
    <td><%= workshop.location %></td>
	<td><%= link_to raw("Subscribe"), subscriptions_path, :class => 'btn btn-mini btn btn-info' %></td>


  </tr>
<% end %>
</table>

<p><%= link_to raw("Create New Workshop"), new_workshop_path, :class => 'btn btn-small btn-info' %></p>


</br>
</br>

</div>

