<div class="span12">
	<h2>All Workshops</h2>

<table class="table table-striped">
  <tr>
	<th>Upvotes</th>
    <th>Name</th>
    <th>Description</th>
    <th>Sharer</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Date</th>
    <th>Max. Members</th>
    <th>Category</th>
    <th>Location</th>
	<th>   </th>

  </tr>


<% @workshops.each do |workshop| %>
  <tr>
	<td><%#= link_to raw("^"), new_upvote_path, :class => 'btn btn-mini btn btn-warning'%><br><br>
		<%= render :partial => "upvote_form", :locals => {:workshop => workshop} %>
		<%#= render :partial => "downvote_form", :locals => {:workshop => workshop} %>
		</td>
	<td><%= link_to workshop.description, workshop %></td>
	<td><%= workshop.subdescription %></td>
    <td><%= link_to workshop.sharer.proper_name, sharer_path(workshop.sharer_id)%></td>
    <!-- <td><%= workshop.learner_id %></td> -->
    <!-- <td><%= workshop.active %></td> -->
    <td><%= workshop.start_time.strftime("%I:%M%p") %></td>
    <td><%= workshop.end_time.strftime("%I:%M%p") %></td>
    <td><%= workshop.date.strftime("%m/%d") %></td>
    <td><%= workshop.size %></td>
    <td><%= workshop.category %></td>
    <td><%= workshop.location %></td>
	<td><%= link_to raw("Subscribe"), subscriptions_path, :class => 'btn btn-mini btn btn-info' %></td>


  </tr>
<% end %>
</table>

<%= link_to raw("Create a new workshop!"), new_workshop_path, :class => 'btn btn-small btn-success' %>
</br>
</br>

</div>

