<div class="span12">
	<h4>All Workshops</h4>
	<br>

<table class="table	table-hover">
  <tr><thead>
	<th></th>
    <th>Name</th>
    <th>Category</th>
    <th>Tutor</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Date</th>
	<th>Members Enrolled </th>
    <th>Max. Members</th>
    <th>Location</th>
	<th>   </th>
</thead>
  </tr>


<% @workshops.each do |workshop| %>
  <tr>
   <% if workshop.active == true %>
	<td>
		<%= workshop.upvotes.size %>
		<% if current_user.workshop_upvotes.include?(workshop.id) %>
			
			<%= link_to raw("<i class='icon-chevron-down'></i>"), upvote_path(current_user.get_workshop_upvote(workshop.id)), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn btn-warning' %>
		<% else %>	
			<%= render :partial => "upvote_form", :locals => {:workshop => workshop} %>
		<% end %>
		
		
		               <%#= render :partial => "downvote_form", :locals => {:workshop => workshop} %> </b></center>
		</td>
	<td><%= link_to workshop.description, workshop %></td>
    <td><%= workshop.category %></td>
    <td><%= link_to workshop.sharer.proper_name, sharer_path(workshop.sharer_id)%></td>
    <!-- <td><%= workshop.learner_id %></td> -->
    <!-- <td><%= workshop.active %></td> -->
    <td><%= workshop.start_time.strftime("%I:%M%p") %></td>
    <td><%= workshop.end_time.strftime("%I:%M%p") %></td>
    <td><%= workshop.date.strftime("%m/%d") %></td>
	<td><%= workshop.subscriptions.size %>	</td>
    <td><%= workshop.size %></td>
    <td><%= workshop.location %></td>
	<td><%#= link_to raw("Subscribe"), subscriptions_path, :class => 'btn btn-mini btn btn-info' %>
		<% if current_user.workshop_subscriptions.include?(workshop.id) %>
			
			 <%= link_to raw(" Unsubscribe"), subscription_path(current_user.get_workshop_subscription(workshop.id)), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn  btn-danger' %>
		<% else %>	
			<%= render :partial => "subscribe_form", :locals => {:workshop => workshop} %>
		<% end %>
		
	
	</td></td>
   <% end %>

  </tr>
<% end %>
</table>

<p><%= link_to raw("Create New Workshop"), new_workshop_path, :class => 'btn btn-small btn-success' %></p>


</br>
</br>

</div>

