<h1>Listing workshops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Sharer</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Date</th>
    <th>Max. Members</th>
    <th>Category</th>
    <th>Location</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workshops.each do |workshop| %>
  <tr>
	<td><%= link_to workshop.description, workshop %></td>
	<td><%= workshop.subdescription %></td>
    <td><%= link_to "Jimmy Carter", sharer_path(workshop.sharer_id)%></td>
    <!-- <td><%= workshop.learner_id %></td> -->
    <!-- <td><%= workshop.active %></td> -->
    <td><%= workshop.start_time.strftime("%I:%M%p") %></td>
    <td><%= workshop.end_time.strftime("%I:%M%p") %></td>
    <td><%= workshop.date.strftime("%m/%d/%Y") %></td>
    <td><%= workshop.size %></td>
    <td><%= workshop.category %></td>
    <td><%= workshop.location %></td>


  </tr>
<% end %>
</table>

<br />

<!-- <%= link_to 'New Workshop', new_workshop_path %> -->
