
<div class="navbar navbar-inverse navbar-static-top"  style="height: 60px">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
			<%# link_to "Home", home_path, :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav">
		  <li><a class="brand" href="home">Scotty Skills</a></li>
        </ul>

    	</div>
<div class="pushdown pull-right" style="display: inline-block;">
			<%= form_tag sessions_path do %>

		          <form>

					      <%= text_field_tag :email, params[:email], :placeholder => "Email"%>
			  			<%= password_field_tag :password %>
					<%= submit_tag nil, :value => "Login", :class => 'btn btn-small' %> <%= link_to raw("Sign Up"), new_user_path, :class => 'btn btn-small btn-success' %>


		          </form>
		</div>


		<% end %>


			 
      </div>

    </div>

  </div>

<center>

<br>
<div style="text-align: center;">
<h3>Welcome to Scotty Skills!</h3>
<h5><em> ~ Scotty Skills is a platform that allows students to connect with students to teach and learn ~ </em></h5>
</div>
<br>

				<div id="myCarousel" class="carousel slide" align="center" style="width: 700px">
				  <ol class="carousel-indicators">
				    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				    <li data-target="#myCarousel" data-slide-to="1"></li>
				    <li data-target="#myCarousel" data-slide-to="2"></li>
				  </ol> 

				  <div class="carousel-inner">
				    <div class="active item"><%= image_tag("barnik_eman.jpeg")%>
						<div class="carousel-caption">

					  		<h4>Connecting Sharers and Learners</h4>
					  		<p>Our application connect people who want to teach skills with people who want to learn skills</p>

					  	</div>
					</div>
				    <div class="item"><%= image_tag("juhee.jpeg")%>
						<div class="carousel-caption">

					  		<h4>Building a Community</h4>
					  		<p>Users of Scotty Skills learn because they want to be taught people who really want to teach</p>

					  	</div>
					</div>
				    <div class="item"><%= image_tag("classroom.jpeg")%>
						<div class="carousel-caption">

					  		<h4>Workshops</h4>
					  		<p>If workshops get enough votes, classrooms are set up for learners and sharers</p>

					  	</div>
					</div>
				  </div> 

				  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>



</center>


