<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @learner.user_id %>
</p>

<p>
  <b>First name:</b>
  <%= @learner.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @learner.last_name %>
</p>

<p>
  <b>Interests:</b>
  <%= @learner.interests %>
</p>

<p>
  <b>Major:</b>
  <%= @learner.major %>
</p>


<%= link_to 'Edit', edit_learner_path(@learner) %> |
<%= link_to 'Back', learners_path %>
