<div class="span4">
	
<h2><%= current_user.proper_name%>'s Dashboard</h2>
<hr>

<p><b> Name: </b><%= current_user.proper_name %></p>
<p><b> Interests: </b><%= current_user.interests %></p>
<p><b> Major: </b><%= current_user.major %></p>





<br>
<br>
<br>


</div>

<div class="span8">

	<% if current_user.workshop_subscriptions.size >0 %>
	
	<%= render :partial => "subscribed_to" %>
	
	<% else %>
	
	<h4>
	 Sign up for a workshop! <%= link_to raw("<i class='icon-plus'></i>"), workshops_path %></h4>
	<br>
	
	<% end %>

	
	
	
	
	
	
	<% if current_user.is_sharer? && !current_user.has_workshop? %>
		
		<h3> You're not teaching any workshops! </h3>
		<%= link_to raw("Create A Workshop"), new_workshop_path, :class => 'btn btn-small btn-success' %>
		
	<% elsif current_user.is_sharer? && current_user.has_workshop?%>
		
		<%= render :partial => "workshops_teaching" %>
		
		
		
	<%else%>
			
		<h3> You're not a tutor! You can't teach yet! </h3>
		<%= link_to raw("Become a tutor"), new_sharer_path, :class => 'btn btn-small btn-success' %>
		
	<%end%>

</div>
