


<%= simple_form_for @sharer, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>	
	<legend><%= controller.action_name.capitalize %> Sharer</legend>



  <div class="field">
	<%= f.input :user_id, :collection => User.all.map{|u| u.proper_name}%>
  </div>	


  <div class="field">
    <%= f.input :credentials %><br />

  </div>
  <div class="field">
    <%= f.input :major %><br />

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset> 	
<% end %>
