
<%= simple_form_for @sharer, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>		

  <p></p>
  
<h5>
 <b>Turning </b>
 <i><%= current_user.proper_name %></i>
 <b> into a Tutor on Scotty Skills! </b>
</h5>
  
<!--  <div class="field">
    <%= f.input :user_id, :as => :hidden %><br />
  </div>
  <div class="field">
    <%= f.input_field :first_name, :label => "First Name" %><br />
  </div>

  <div class="field">
    <%= f.input :last_name, as: :string, :label => "Last Name" %><br />
  </div>
 -->
  <div class="field">
    <%= f.input :credentials %><br />

  </div>
  <div class="field">
    <%= f.input :major %><br />

  </div>
  <div class="actions">
	  <%= f.submit nil, :class => 'btn btn-small btn-success' %>
  </div>
  </fieldset> 	
<hr>
<% end %>
