<div class="span10">

<h3> Tutors</h3>
<br>
<% if @sharers.size == 0 %>
	<h5>No One Is Currently Tutoring Workshops</h5>
	<p>Go to your dashboard and sign up to be a tutor and create a workshop!</p>
<% end %>
<table class="table table-hover">
  <tr><thead>
    <th>Name</th>
    <th>Credentials</th>
    <th>Major</th>
	</thead>
  </tr>

<% @sharers.each do |sharer| %>
  <tr>
    <td><%= link_to sharer.proper_name, sharer_path(sharer.id)%></td>
    <td><%= sharer.credentials %></td>
    <td><%= sharer.major %></td>
  </tr>
<% end %>
</table>

<br />

<% if !current_user.is_sharer?  %>
	
<%= link_to raw("Become a tutor"), new_sharer_path, :class => 'btn btn-small btn-success' %>

	
	
<%else%>
		
	
<%end%>
<%= will_paginate @sharers, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</div>




