<div class="span8">
<p id="notice"><%= notice %></p>

<p>
 <h3><%= @sharer.proper_name %></h3>
</p>

<!-- <p>
 <b>User:</b>
 <%= @sharer.user_id %>
</p> -->

<p>
 <b>Interests:</b>
 <%= @sharer.user.interests %>
</p>

<p>
 <b>Credentials:</b>
 <%= @sharer.credentials %>
</p>

<p>
 <b>Major:</b>
 <%= @sharer.major %>
</p>


<hr>
<%= link_to 'Back', sharers_path, :class => 'btn btn-mini' %> 
<br>
<br>
</div>